APP_PORT=8000

DB_NAME=medai_db
DB_USERNAME=medai
DB_PASSWORD=password
DB_HOST=medai-db
DB_PORT=5432

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=900000 # 15 minutes in ms
REFRESH_TOKEN_SECRET=your_refresh_token_secret_key
REFRESH_TOKEN_EXPIRATION=604800000 # 7 days in ms