DJANGO_DB_NAME=medai_db
DJANGO_DB_USER=medai
DJANGO_DB_PASSWORD=password
DJANGO_DB_HOST=medai-db
DJANGO_DB_PORT=5432
DJANGO_SECRET_KEY=None
DJANGO_SETTINGS_MODULE=MedAI.settings.development
DJANGO_CONFIGURATION=Development