# Environments
ai_env/
wsl_env/
venv/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Model Weights & Large Folders
# (We only keep the final fine-tuned adapter)
FineTuned_V1/
unsloth_compiled_cache/
unimportant_files/

# Operating System Files
.DS_Store
Thumbs.db

# Large Audio Files
test_audio/*.wav
!test_audio/test5.wav